.filters-group-container {
  margin-top: 16px;
}

.searchInput {
  border: none;
  width: 90%;
  height: 40px;
  padding: 10px;
  outline: none;
  background-color: transparent;
}

.searchInputBg {
  background-color: #f1f5f9;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
